<table class="table">
		<tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>
		<tr>
		  
			<th>follow</th>
			<th><%= link_to user.followings.count, follows_user_path(user) %></th>
		</tr>
		<tr>
		<th>follower</th>
		<th><%= link_to user.followers.count, followers_user_path(user) %></th>

	</tr>
</table>
<% if current_user != user %>
<% if user.followed_by?(current_user) %>
	<p><%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, class: "btn btn-warning" %></p>
<% else %>
	<p><%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-info" %></p>
	<% end %>
<% end %>

<div class="row">
	<%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
</div>